<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div th:if="${departments.size() == 0}">
    <h1>There's nothing here.</h1>
    <p style="text-align: center;">Try a new search or return <a href="/">home</a></p>
</div>
<div class="container col-8">
    <div id="accordion">
        <div  th:each="department: ${departments}" class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button th:text="${department.name}" class="btn btn-link" data-toggle="collapse" th:data-target="'#collapse_'+${department.id}" aria-expanded="true" aria-controls="collapseOne">
                    </button>
                </h5>
            </div>

            <div th:id="'collapse_'+${department.id}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <th:block th:each="employee : ${department.employees}">
                        <li class="list-group-item" th:inline="text">[[${employee.getFirstName()}]] [[${employee.getLastName()}]]</li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>